*tmp/*
*.asv
*.slxc
slprj/
spinfo/
*grt_fmi_rtw/
*grt_rtw/
*.autosave
.ipynb_checkpoints/
__pycache__/
*.swp
*.egg-info

casadi/
env/
env2/
tikz_temp/

main.pdf
*.fdb_latexmk
*.fls
*.synctex.gz
*.aux
*.auxlock
*.log
*.blg
*.dpth
*.md5
*.xdv
*.bbl
*.bcf
*.run.xml
*.bak
*.lof
*.lot
*.toc


*.ist
*.model*
*.sg
*.slg
*.alg
*.sot
*.stn
*.sy
*.syg1
*.acn
*.glo
*.idx
*.cmpdata
*.timestamp
*.ab
*.abv
*.avn
*.acr
*.ag
*.al
*SAVE-ERROR
*.glg
*.gls
*.syo
*.sys
*.symb
*.tl
*.xmpi
*.tg
*.tlg